<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
<table width="100%">
  <tr width="100%">
    <td> <img [src]="product.image" width="90px" height="auto"/></td>
    <td> <h3>
     <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>
   <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  </td>
  <td>
    <p><b>${{product.price}}</b></p>
<button (click)="share()" style="float:right!important;">
  Share
</button>

<app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

  </td>
  </tr>
  
</table>

</div>
<div>
  <table><!-- for trying to connect to data external-->
  <tr>test</tr>
</table>
</div>

 

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->